

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	/*margin-top: 60px;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
body,
.block1 {
  height: 100%;
  width: 100%;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Poppins";
}

p {
	font-family: "Roboto";
}

.polygon-wrapper {
	width: 100%;
	height: 400px;
	margin: 100px ;
}

.polygon {
	-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
	width: 100%;
	height: 100%;
	margin-right: -85px;
	padding: 5px;
}

.poly-1 {
	background-color: #a5a5a5;
}

.poly-2 {
	background-color: grey;
}
.poly-3 {
	background-color: #525252;
}
.poly-4 {
	background-color: #444444;
}

.polygon-card {
	font-family: "Orbitron";
	font-size: 28px;
	margin-right: -20px;
	margin-top: 150px;
}






.navbar-default {
	font-family: "Poppins";
	font-size: 18px;
	background-color: #1B2631;
	opacity: 0.75;
}

.nav-item {
	padding: 0 65px;
}

.logo {
	width: 250px;
	height: 150px;
}

.headline-wrapper {
	position: relative;
}

.headline1 {
	position:;
	top: 50%;
	margin-top: 33%;
	font-family: "Orbitron";
	font-style: italic;
	font-weight: 600;
	font-size: 120px;
	opacity: 0.9;
	letter-spacing: 12px;
}

/*font-family: "Russo One";
font-style: italic;*/
/*
font-family: "Orbitron";
font-style:italic;*/

.headline2 {
	position:;
	top: 50%;
	font-size: 32px;
	font-family: "Orbitron";
	font-style: italic;
	font-weight: 400;
	margin-top:;
	letter-spacing: 7px;
	opacity: 0.85;
}

.jumbotron {
  height: 100%;
  background-image: url("img/showcar10dark.png");
	border-radius: 0;
	background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card .no-border {
  border: 0;
}

.card img {
  width: 100%;
	height: auto;
  margin: 0 auto;
}

.tint-1 {
  background-color: #a5a5a5;
}

.tint-2 {
  background-color: grey;
}

.tint-3 {
  background-color: #525252;
}

.tint-4 {
  background-color: #444444;
}

.showroom {
  padding: 3px;
}

.showroom img {
  width: 100%;
  height: 100%;
}

.google-map {
	width: 100%;
	height: 500px;
	padding: 0;
	margin: 0;
}

iframe {
	width: 100%;
	height: 100%;
}
